PORT=5000
MONGO_URI=mongodb://localhost:27017/momscare
JWT_SECRET=change_me
GROQ_API_KEY=your_groq_key

# Cloudflare R2
CF_ENDPOINT=https://xxxxxxxx.r2.cloudflarestorage.com
CF_BUCKET=buildathon
CF_ACCESS_KEY=your_access_key
CF_SECRET_KEY=your_secret_key

